#footer {
    width: 100%;
    height: auto;
    background-color: #323232;
    text-align: center;
}
.footer-box {
    padding: 15px 0;
}
#footer p {
    font-size: 10px;
    opacity: 0.8;
    /*font-weight: bold;*/
    color: #ffffff;
}
